@CHARSET "UTF-8";

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hdzmnf');
  src:  url('fonts/icomoon.eot?hdzmnf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hdzmnf') format('truetype'),
    url('fonts/icomoon.woff?hdzmnf') format('woff'),
    url('fonts/icomoon.svg?hdzmnf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.crisp-slider-wrap ul {
	padding: 0 !important;
	margin: 0 !important;
}

.bx-wrapper .bx-viewport {
	left: 0;
	background: none;
	border: 0 none;
    box-shadow: none;
}

.bx-wrapper .bx-prev {
	left: 0;
}

.bx-wrapper .bx-next {
	right: 0;
}

.bx-wrapper .bx-controls-direction a {
	background: rgba(0, 0, 0, 0.75);
	display: block;
	width: 45px;
	height: 50px;
	margin-top: -25px;
	text-indent: 0;
	padding: 8px 6px;
}

.bx-wrapper .bx-controls-direction a span {
	font-size: 34px;
	position: relative;
	color: #fff;
}

.icon-chevron-right:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}